* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    overflow: hidden;
}

body,
html {
    height: 100vh;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh; /* Full height of the viewport */
    overflow: auto; /* Allow overflow */
}

#editor {
    width: 100%;
    height: 100%;
    overflow: auto; /* Allow scroll if needed */
}

.monaco-editor {
    height: 100%;
}

#diagram {
    overflow-y: auto;
    width: 100%;
    height: 100%;
}

svg {
    height: 100%;
    width: 100%;
}

#download-btn {
    display: flex;
    margin-left: auto;
    cursor: pointer;
}

popup-component {
    position: absolute;
    right: 1rem;
    top: 2rem;
}
